In [1]:
import numpy as np
import pandas as pd

In [2]:
dates_series = pd.Series([
    "2025-02-01 08:00:00+00:00",
    "2025-02-02 09:15:00+00:00",
    "2025-02-03 12:30:00+00:00",
    "2025-02-04 14:45:00+00:00",
    "2025-02-05 16:00:00+00:00",
    "2025-02-06 18:10:00+00:00",
    "2025-02-07 20:20:00+00:00",
    "2025-02-08 22:30:00+00:00",
    "2025-02-09 23:59:59+00:00",
    "2025-02-10 01:00:00+00:00",
    "2025-02-11 03:15:00+00:00",
    "2025-02-12 05:30:00+00:00",
    "2025-02-13 07:45:00+00:00",
    "2025-02-14 10:05:00+00:00",
    "2025-02-15 12:25:00+00:00",
    "2025-02-16 14:40:00+00:00",
    "2025-02-17 16:55:00+00:00",
    "2025-02-18 19:05:00+00:00",
    "2025-02-19 21:15:00+00:00",
    "2025-02-20 23:30:00+00:00",
    "2025-02-21 01:45:00+00:00",
    "2025-02-22 04:00:00+00:00",
    "2025-02-23 06:15:00+00:00",
    "2025-02-24 08:30:00+00:00",
    "2025-02-25 10:45:00+00:00",
    "2025-02-26 13:00:00+00:00",
    "2025-02-27 15:15:00+00:00",
    "2025-02-28 17:30:00+00:00",
    "2025-03-01 19:45:00+00:00",
    "2025-03-02 22:00:00+00:00"
])

In [3]:
dates_series

0     2025-02-01 08:00:00+00:00
1     2025-02-02 09:15:00+00:00
2     2025-02-03 12:30:00+00:00
3     2025-02-04 14:45:00+00:00
4     2025-02-05 16:00:00+00:00
5     2025-02-06 18:10:00+00:00
6     2025-02-07 20:20:00+00:00
7     2025-02-08 22:30:00+00:00
8     2025-02-09 23:59:59+00:00
9     2025-02-10 01:00:00+00:00
10    2025-02-11 03:15:00+00:00
11    2025-02-12 05:30:00+00:00
12    2025-02-13 07:45:00+00:00
13    2025-02-14 10:05:00+00:00
14    2025-02-15 12:25:00+00:00
15    2025-02-16 14:40:00+00:00
16    2025-02-17 16:55:00+00:00
17    2025-02-18 19:05:00+00:00
18    2025-02-19 21:15:00+00:00
19    2025-02-20 23:30:00+00:00
20    2025-02-21 01:45:00+00:00
21    2025-02-22 04:00:00+00:00
22    2025-02-23 06:15:00+00:00
23    2025-02-24 08:30:00+00:00
24    2025-02-25 10:45:00+00:00
25    2025-02-26 13:00:00+00:00
26    2025-02-27 15:15:00+00:00
27    2025-02-28 17:30:00+00:00
28    2025-03-01 19:45:00+00:00
29    2025-03-02 22:00:00+00:00
dtype: object

# 1 - Convert a column with date information to a date

In [4]:
# Does not enforce utc
date_time = pd.to_datetime(dates_series)

In [5]:
date_time

0    2025-02-01 08:00:00+00:00
1    2025-02-02 09:15:00+00:00
2    2025-02-03 12:30:00+00:00
3    2025-02-04 14:45:00+00:00
4    2025-02-05 16:00:00+00:00
5    2025-02-06 18:10:00+00:00
6    2025-02-07 20:20:00+00:00
7    2025-02-08 22:30:00+00:00
8    2025-02-09 23:59:59+00:00
9    2025-02-10 01:00:00+00:00
10   2025-02-11 03:15:00+00:00
11   2025-02-12 05:30:00+00:00
12   2025-02-13 07:45:00+00:00
13   2025-02-14 10:05:00+00:00
14   2025-02-15 12:25:00+00:00
15   2025-02-16 14:40:00+00:00
16   2025-02-17 16:55:00+00:00
17   2025-02-18 19:05:00+00:00
18   2025-02-19 21:15:00+00:00
19   2025-02-20 23:30:00+00:00
20   2025-02-21 01:45:00+00:00
21   2025-02-22 04:00:00+00:00
22   2025-02-23 06:15:00+00:00
23   2025-02-24 08:30:00+00:00
24   2025-02-25 10:45:00+00:00
25   2025-02-26 13:00:00+00:00
26   2025-02-27 15:15:00+00:00
27   2025-02-28 17:30:00+00:00
28   2025-03-01 19:45:00+00:00
29   2025-03-02 22:00:00+00:00
dtype: datetime64[ns, UTC]

# 2 - Convert a date column into UTC dates

In [6]:
utc  = pd.to_datetime(dates_series,utc=True)

In [7]:
utc

0    2025-02-01 08:00:00+00:00
1    2025-02-02 09:15:00+00:00
2    2025-02-03 12:30:00+00:00
3    2025-02-04 14:45:00+00:00
4    2025-02-05 16:00:00+00:00
5    2025-02-06 18:10:00+00:00
6    2025-02-07 20:20:00+00:00
7    2025-02-08 22:30:00+00:00
8    2025-02-09 23:59:59+00:00
9    2025-02-10 01:00:00+00:00
10   2025-02-11 03:15:00+00:00
11   2025-02-12 05:30:00+00:00
12   2025-02-13 07:45:00+00:00
13   2025-02-14 10:05:00+00:00
14   2025-02-15 12:25:00+00:00
15   2025-02-16 14:40:00+00:00
16   2025-02-17 16:55:00+00:00
17   2025-02-18 19:05:00+00:00
18   2025-02-19 21:15:00+00:00
19   2025-02-20 23:30:00+00:00
20   2025-02-21 01:45:00+00:00
21   2025-02-22 04:00:00+00:00
22   2025-02-23 06:15:00+00:00
23   2025-02-24 08:30:00+00:00
24   2025-02-25 10:45:00+00:00
25   2025-02-26 13:00:00+00:00
26   2025-02-27 15:15:00+00:00
27   2025-02-28 17:30:00+00:00
28   2025-03-01 19:45:00+00:00
29   2025-03-02 22:00:00+00:00
dtype: datetime64[ns, UTC]

# 3 - Convert a date column into local dates with a time zone

In [8]:
time_zone =  utc.dt.tz_convert("Europe/Rome")

In [9]:
time_zone

0    2025-02-01 09:00:00+01:00
1    2025-02-02 10:15:00+01:00
2    2025-02-03 13:30:00+01:00
3    2025-02-04 15:45:00+01:00
4    2025-02-05 17:00:00+01:00
5    2025-02-06 19:10:00+01:00
6    2025-02-07 21:20:00+01:00
7    2025-02-08 23:30:00+01:00
8    2025-02-10 00:59:59+01:00
9    2025-02-10 02:00:00+01:00
10   2025-02-11 04:15:00+01:00
11   2025-02-12 06:30:00+01:00
12   2025-02-13 08:45:00+01:00
13   2025-02-14 11:05:00+01:00
14   2025-02-15 13:25:00+01:00
15   2025-02-16 15:40:00+01:00
16   2025-02-17 17:55:00+01:00
17   2025-02-18 20:05:00+01:00
18   2025-02-19 22:15:00+01:00
19   2025-02-21 00:30:00+01:00
20   2025-02-21 02:45:00+01:00
21   2025-02-22 05:00:00+01:00
22   2025-02-23 07:15:00+01:00
23   2025-02-24 09:30:00+01:00
24   2025-02-25 11:45:00+01:00
25   2025-02-26 14:00:00+01:00
26   2025-02-27 16:15:00+01:00
27   2025-02-28 18:30:00+01:00
28   2025-03-01 20:45:00+01:00
29   2025-03-02 23:00:00+01:00
dtype: datetime64[ns, Europe/Rome]

# 4 - Convert a date column into epoch values

In [19]:
# Epoch time (also called Unix timestamp) is the number of seconds since January 1, 1970 (UTC).
seconds = time_zone.astype(int) // 10**9

In [20]:
seconds

0     1738396800
1     1738487700
2     1738585800
3     1738680300
4     1738771200
5     1738865400
6     1738959600
7     1739053800
8     1739145599
9     1739149200
10    1739243700
11    1739338200
12    1739432700
13    1739527500
14    1739622300
15    1739716800
16    1739811300
17    1739905500
18    1739999700
19    1740094200
20    1740102300
21    1740196800
22    1740291300
23    1740385800
24    1740480300
25    1740574800
26    1740669300
27    1740763800
28    1740858300
29    1740952800
dtype: int64

# 5 - Convert an epoch number into UTC.

In [21]:
reverse_utc = pd.to_datetime(seconds,unit='s').dt.tz_localize('UTC')

In [22]:
reverse_utc

0    2025-02-01 08:00:00+00:00
1    2025-02-02 09:15:00+00:00
2    2025-02-03 12:30:00+00:00
3    2025-02-04 14:45:00+00:00
4    2025-02-05 16:00:00+00:00
5    2025-02-06 18:10:00+00:00
6    2025-02-07 20:20:00+00:00
7    2025-02-08 22:30:00+00:00
8    2025-02-09 23:59:59+00:00
9    2025-02-10 01:00:00+00:00
10   2025-02-11 03:15:00+00:00
11   2025-02-12 05:30:00+00:00
12   2025-02-13 07:45:00+00:00
13   2025-02-14 10:05:00+00:00
14   2025-02-15 12:25:00+00:00
15   2025-02-16 14:40:00+00:00
16   2025-02-17 16:55:00+00:00
17   2025-02-18 19:05:00+00:00
18   2025-02-19 21:15:00+00:00
19   2025-02-20 23:30:00+00:00
20   2025-02-21 01:45:00+00:00
21   2025-02-22 04:00:00+00:00
22   2025-02-23 06:15:00+00:00
23   2025-02-24 08:30:00+00:00
24   2025-02-25 10:45:00+00:00
25   2025-02-26 13:00:00+00:00
26   2025-02-27 15:15:00+00:00
27   2025-02-28 17:30:00+00:00
28   2025-03-01 19:45:00+00:00
29   2025-03-02 22:00:00+00:00
dtype: datetime64[ns, UTC]