In [6]:
import numpy as np
import pandas as pd

# 1 - Find the count of non missing values of a series

In [23]:
# Create a list of numbers from 0 to 99 and include NaN
values = list(range(100)) + [np.nan]

# Define probabilities: 100 values + 1 NaN
probabilities = [0.008] * 100 + [0.20]  # 0.008 * 100 + 0.20 = 1.0

# Create a Series with random numbers (0-99) and NaNs (~20% probability)
num_series = pd.Series(np.random.choice(values, size=10, p=probabilities))

print(num_series)

0    63.0
1    44.0
2    54.0
3    51.0
4     NaN
5     3.0
6     NaN
7    19.0
8     NaN
9     NaN
dtype: float64

In [36]:
num_series.count()

6

### supplementary exercise: counting nan values

In [38]:
num_series.isna()

0    False
1    False
2    False
3    False
4     True
5    False
6     True
7    False
8     True
9     True
dtype: bool

In [39]:
print('number of missing values',num_series.isna().sum())

number of missing values 4

# 3 - Find the number of unique entries of a series

In [43]:
#i use the len function because the unique() will return an array
len(num_series.unique())

7

# 4 - Find the mean value of a series

In [44]:
num_series.mean()

39.0

# 5 - Find the max value of a series

In [45]:
num_series.max()

63.0

# 6 - Use the .agg method to find all of the above

In [49]:
num_series.agg(['mean','max','unique','count'])

mean                                          39.0
max                                           63.0
unique    [63.0, 44.0, 54.0, 51.0, nan, 3.0, 19.0]
count                                            6
dtype: object