In [1]:
import pandas as pd 
import numpy as np

In [2]:
column = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Emma'])

# 1 - Using a string column, lowercase the values.

In [3]:
column # as you can see its an object

0      Alice
1        Bob
2    Charlie
3      David
4       Emma
dtype: object

In [4]:
import pyarrow as pa

In [5]:
apache_string_column = pd.ArrowDtype(pa.string())

In [6]:
column.astype(str).astype(apache_string_column)

0      Alice
1        Bob
2    Charlie
3      David
4       Emma
dtype: string[pyarrow]

In [7]:
column = column.str.lower()

In [8]:
column

0      alice
1        bob
2    charlie
3      david
4       emma
dtype: object

# 2 - Using a string column, slice out the first character

In [9]:
column.str.slice(start = 1,stop=None)

0      lice
1        ob
2    harlie
3      avid
4       mma
dtype: object

# 3 - Using a string column, slice out the last three characters

In [10]:
column

0      alice
1        bob
2    charlie
3      david
4       emma
dtype: object

# 4 - Create a series extracting the numeric values using a string column

In [11]:
#Define the new string column, because i need text and number
string_numeric_column = pd.Series(['45', '99', 'Item', 'Another Item'])

#change the type to string
string_numeric_column = string_numeric_column.astype(str)

In [12]:
#Change the type to arrow, pyarrow(Apache arrows)
string_numeric_column = string_numeric_column.astype(apache_string_column)

In [13]:
#Check if its all good
string_numeric_column

0              45
1              99
2            Item
3    Another Item
dtype: string[pyarrow]

In [23]:
string_numeric_column.str.extract(r'(?P<number>\d+)',expand=False)

0      45
1      99
2    <NA>
3    <NA>
Name: number, dtype: string[pyarrow]

# 5 - Using a string column, create a series extracting the non-ASCII values

In [31]:
string_numeric_column.str.extract(r'(?P<non_ascii>[^\x00-\x7F])')

  non_ascii
0      <NA>
1      <NA>
2      <NA>
3      <NA>

# 6 - Using a string column, create a dataframe with the dummy columns from every character in the column