In [1]:
import pandas as pd 
import numpy as np

In [3]:
column = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Emma'])

# 1 - Using a string column, lowercase the values.

In [4]:
column # as you can see its an object

0      Alice
1        Bob
2    Charlie
3      David
4       Emma
dtype: object

In [5]:
import pyarrow as pa

In [6]:
string_column = pd.ArrowDtype(pa.string())

In [7]:
column.astype(str).astype(string_column)

0      Alice
1        Bob
2    Charlie
3      David
4       Emma
dtype: string[pyarrow]

In [8]:
column = column.str.lower()

In [9]:
column

0      alice
1        bob
2    charlie
3      david
4       emma
dtype: object

# 2 - Using a string column, slice out the first character

In [17]:
column.str.slice(start = 1,stop=None)

0      l
1
2    har
3      a
4
dtype: object

# 3 - Using a string column, slice out the last three characters

In [16]:
column

0      al
1
2    char
3      da
4       e
dtype: object

0
1
2    c
3
4
dtype: object

# 4 - Create a series extracting the numeric values using a string column

# 5 - Using a string column, create a series extracting the non-ASCII values

# 6 - Using a string column, create a dataframe with the dummy columns from every character in the column