In [31]:
import pandas as pd 
import numpy as np

# 1 - Convert a text column into categorical column. How much memory did you save?

In [32]:
data = pd.Series(['apple', 'banana', 'apple', 'orange', 'banana', 'apple', 'orange', 'banana', 'apple'],dtype=str)

In [33]:
data.value_counts()

apple     4
banana    3
orange    2
Name: count, dtype: int64

In [34]:
data.unique()

array(['apple', 'banana', 'orange'], dtype=object)

In [35]:
cat_data = data.astype('category')

In [36]:
cat_data.memory_usage(deep=True)

433

In [37]:
data.memory_usage(deep=True)

691

# 2 - Convert a numeric column into a categorical column by binning it (pd.cut). How much memory did you save?

In [44]:

# Sample numeric data
data_numeric = [5, 20, 15, 40, 30, 25, 50, 10, 35, 45]

# Convert to pandas Series
data_series = pd.Series(data_numeric)

# Define labels for the bins
names = ['Low', 'Medium', 'High']

# Use pd.cut to bin the data into 3 categories with labels
values = pd.cut(data_series, bins=3, labels=names)

# Display the binned data
print(values)

0       Low
1       Low
2       Low
3      High
4    Medium
5    Medium
6      High
7       Low
8    Medium
9      High
dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [45]:
values

0       Low
1       Low
2       Low
3      High
4    Medium
5    Medium
6      High
7       Low
8    Medium
9      High
dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

# 3 - use the generalize_topn function to limit the amounts of categories in your column. How much memory did you save?

In [50]:
# Function to generalize top n categories
def generalize_topn(ser, n=5, other='Other'):
    # Get the top n frequent categories
    topn = ser.value_counts().index[:n]
    
    # If the series is categorical, modify the categories
    if isinstance(ser.dtype, pd.CategoricalDtype):
        ser = ser.cat.set_categories(list(topn) + [other])
    
    # Replace values not in the top n categories with 'other'
    return ser.where(ser.isin(topn), other)
	
	
result = data.pipe(generalize_topn, n=3, other='NA')

In [51]:
result

0     apple
1    banana
2     apple
3    orange
4    banana
5     apple
6    orange
7    banana
8     apple
dtype: object